bind:
  ip: 0.0.0.0
  port: '32766'
face_ROI_xml_path: ./SVM_Model/haarcascade_frontalface_default.xml
face_model_dir: ./face_model/MobileFaceNet_TF_Org/
facedb:
  column:
    cust_id: cust_id
    face_encode: face_encode
    face_id: face_id
    face_nm: face_nm
  db: facedb
  ipaddr: 172.16.56.104
  passwd: password
  port: '31996'
  table: aptg_face_192_test
  user: root
frame_model_size: '112'
select_save: '2'
threshold: '0.85'
unknow_face_log_dir: ./unknow_face_log/
unknow_face_save_dir:
  unknow_face: ./unknow_face_img/unknow_face/
  unknow_face_env: ./unknow_face_img/unknow_face_env/
  unknow_face_raw: ./unknow_face_img/unknow_face_raw/
unknow_face_savedb:
  column:
    bb: bb
    ck_no: ck_no
    eud: eud
    face: face
    face_env: face_env
    face_raw: face_raw
    logtime: logtime
    mod_no: mod_no
    thres: thres
  table: unknow_face_log_test
unknow_recommend:
  filter_data_path_name: ./recommand_model/2019_10_05_6_114752_new_filter_data.pkl
  model_data_path_name: ./recommand_model/2019_10_05_6_114814_new_model.h5
  normalize_data_path_name: ./recommand_model/2019_10_05_6_114752_new_normalize_data.npy
age_gender_model:
  model_age_select: inception
  model_gender_select: inception
  model_age_dir: ./age_gender_model/22801-20191024T033219Z-age/22801/
  model_gender_dir: ./age_gender_model/21936-20191024T033526Z-gender/21936/
  age_list: ['(0, 2)','(4, 6)','(8, 12)','(15, 20)','(25, 32)','(38, 43)','(48, 53)','(60, 100)']
facedetectROI: mtcnn
